.pokemon-list {
  padding: 1rem; }
  .pokemon-list .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 0.1rem #d3dce2;
    background: #eee;
    position: relative;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    transition: all 0.2s ease;
    cursor: pointer; }
    .pokemon-list .card-number {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 1.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.7rem;
      background: #fff;
      color: #aaa; }
    .pokemon-list .card-image {
      width: 6rem;
      height: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      transition: all 0.2s ease; }
      .pokemon-list .card-image img {
        width: 100%;
        height: auto;
        transform: scale(1);
        transition: transform 0.2s ease; }
    .pokemon-list .card h3 {
      margin: 0.5rem 0 0 0;
      padding: 0;
      width: 100%;
      text-align: center;
      font-size: 1.1rem; }
    .pokemon-list .card:hover .card-image img {
      transform: scale(1.1); }
    .pokemon-list .card.pending {
      cursor: default; }
      .pokemon-list .card.pending .card-number {
        background: #d3dce2; }
      .pokemon-list .card.pending .card-image {
        background: #d3dce2;
        border-radius: 6rem;
        flex-direction: column; }
        .pokemon-list .card.pending .card-image::before {
          content: "";
          width: 2rem;
          height: 2rem;
          border-radius: 2rem;
          background: #eee; }
        .pokemon-list .card.pending .card-image::after {
          content: "";
          height: 0.7rem;
          width: 100px;
          background: #eee;
          position: absolute; }
      .pokemon-list .card.pending h3 {
        background: #d3dce2;
        padding: 0.5rem 0;
        border-radius: 0.2rem; }

.pokemon-list .card-red {
  background: #fc9d9d;
  border-color: #fb6c6c;
  color: #fff; }
  .pokemon-list .card-red:hover {
    background: #fb6c6c; }
  .pokemon-list .card-red .card-number {
    color: #fb6c6c; }
.pokemon-list .card-blue {
  background: #a3d3fe;
  border-color: #76bdfe;
  color: #fff; }
  .pokemon-list .card-blue:hover {
    background: #76bdfe; }
  .pokemon-list .card-blue .card-number {
    color: #76bdfe; }
.pokemon-list .card-yellow {
  background: #ffe59f;
  border-color: #ffd86f;
  color: #fff; }
  .pokemon-list .card-yellow:hover {
    background: #ffd86f; }
  .pokemon-list .card-yellow .card-number {
    color: #ffd86f; }
.pokemon-list .card-green {
  background: #85dfca;
  border-color: #48d0b0;
  color: #fff; }
  .pokemon-list .card-green:hover {
    background: #48d0b0; }
  .pokemon-list .card-green .card-number {
    color: #48d0b0; }
.pokemon-list .card-purple {
  background: #a290b1;
  border-color: #74598a;
  color: #fff; }
  .pokemon-list .card-purple:hover {
    background: #74598a; }
  .pokemon-list .card-purple .card-number {
    color: #74598a; }
.pokemon-list .card-pink {
  background: #fdbdbd;
  border-color: #fc9d9d;
  color: #fff; }
  .pokemon-list .card-pink:hover {
    background: #fc9d9d; }
  .pokemon-list .card-pink .card-number {
    color: #fc9d9d; }
.pokemon-list .card-white {
  background: rgba(255, 255, 255, 0.5);
  border-color: #fff;
  color: #333; }
  .pokemon-list .card-white:hover {
    background: #fff; }
  .pokemon-list .card-white .card-number {
    color: #333; }
.pokemon-list .card-brown {
  background: #ca9f99;
  border-color: #b06f66;
  color: #fff; }
  .pokemon-list .card-brown:hover {
    background: #b06f66; }
  .pokemon-list .card-brown .card-number {
    color: #b06f66; }
.pokemon-list .card-gray {
  background: #ccc;
  border-color: #aaa;
  color: #fff; }
  .pokemon-list .card-gray:hover {
    background: #aaa; }
  .pokemon-list .card-gray .card-number {
    color: #aaa; }
.pokemon-list .card-black {
  background: #555;
  border-color: #333;
  color: #fff; }
  .pokemon-list .card-black:hover {
    background: #333; }
  .pokemon-list .card-black .card-number {
    color: #333; }

.modal {
  position: fixed;
  background: #d3dce2;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1o;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  transition: all 0.2s ease;
  border-radius: 100%;
  opacity: 0; }
  .modal .toReturn {
    width: 100%;
    height: 100vh;
    position: absolute;
    cursor: pointer; }
  .modal-header {
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 6rem; }
    .modal-header .left,
    .modal-header .right {
      position: absolute;
      z-index: 20;
      cursor: pointer;
      padding: 0.5rem; }
    .modal-header .left {
      left: 0; }
    .modal-header .right {
      right: 0; }
    .modal-header h2 {
      padding: 0;
      margin: 0; }
    .modal-header .types {
      padding-top: 0.5rem; }
      .modal-header .types div {
        display: inline-block;
        font-size: 0.75rem;
        padding: 0.2rem 0.4rem;
        border-radius: 0.6rem;
        margin: 0.1rem; }
  .modal-body {
    background: #fff;
    color: #444;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 5rem;
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2); }
    .modal-body .number,
    .modal-body .close {
      position: absolute;
      z-index: 20;
      cursor: pointer; }
    .modal-body .number {
      top: 0.8rem;
      left: 0.8rem;
      font-size: 0.8rem;
      font-weight: bold; }
    .modal-body .close {
      top: 0.1rem;
      right: 0.3rem;
      font-size: 1.6rem; }
    .modal-body .image {
      width: 11rem;
      height: 11rem;
      position: absolute;
      top: -5rem;
      display: flex;
      justify-content: center;
      align-items: center; }
      .modal-body .image img {
        max-width: 100%;
        max-height: 100%; }
    .modal-body .content {
      width: 100%;
      padding-bottom: 2rem; }
    .modal-body .thumb {
      display: flex;
      justify-content: space-around;
      height: 4rem;
      flex: 1; }
    .modal-body .stats canvas {
      display: none; }
    .modal-body .stats-group {
      width: 100%;
      padding: 0.7rem;
      box-sizing: border-box;
      font-size: 0.8rem; }
    .modal-body .stats-item {
      margin-bottom: 0.3rem; }
      .modal-body .stats-item div + div {
        color: #fff;
        font-size: 0.6rem;
        background: #eee; }
        .modal-body .stats-item div + div div {
          padding: 0.3rem; }
        .modal-body .stats-item div + div.bg-red div {
          background: #a74848; }
        .modal-body .stats-item div + div.bg-blue div {
          background: #4e7ea9; }
        .modal-body .stats-item div + div.bg-yellow div {
          background: #aa904a; }
        .modal-body .stats-item div + div.bg-green div {
          background: #308a75; }
        .modal-body .stats-item div + div.bg-purple div {
          background: #4d3b5c; }
        .modal-body .stats-item div + div.bg-pink div {
          background: #a86868; }
        .modal-body .stats-item div + div.bg-white div {
          background: #ddd; }
        .modal-body .stats-item div + div.bg-brown div {
          background: #754a44; }
        .modal-body .stats-item div + div.bg-gray div {
          background: #bbb; }
        .modal-body .stats-item div + div.bg-black div {
          background: #000; }
  .modal .container {
    margin: 1rem;
    display: none;
    position: relative;
    opacity: 1;
    transition: all 0.2s ease; }
  .modal.open {
    top: -50%;
    bottom: -50%;
    left: -50%;
    right: -50%;
    opacity: 1; }
    .modal.open .container {
      display: flex;
      flex-direction: column;
      opacity: 1;
      width: 45%; }
  .modal-red {
    background: #fb6c6c;
    color: #fff; }
    .modal-red .types div {
      background: #a74848; }
  .modal-blue {
    background: #76bdfe;
    color: #fff; }
    .modal-blue .types div {
      background: #4e7ea9; }
  .modal-yellow {
    background: #ffd86f; }
    .modal-yellow .types div {
      background: #aa904a;
      color: #fff; }
  .modal-green {
    background: #48d0b0;
    color: #fff; }
    .modal-green .types div {
      background: #308a75; }
  .modal-purple {
    background: #74598a;
    color: #fff; }
    .modal-purple .types div {
      background: #4d3b5c; }
  .modal-pink {
    background: #fc9d9d; }
    .modal-pink .types div {
      color: #fff;
      background: #a86868; }
  .modal-white {
    background: #fff; }
    .modal-white .types div {
      background: #ddd; }
    .modal-white .stats-item div + div {
      color: #333; }
      .modal-white .stats-item div + div div {
        background: #ddd !important; }
  .modal-brown {
    background: #b06f66;
    color: #fff; }
    .modal-brown .types div {
      background: #754a44; }
  .modal-gray {
    background: #aaa; }
    .modal-gray .types div {
      background: #bbb; }
  .modal-black {
    background: #333;
    color: #fff; }
    .modal-black .types div {
      color: #fff;
      background: #000; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #444;
  background: #eee; }

header {
  display: flex;
  justify-content: center; }

.logo {
  background: url(../img/logo.png) no-repeat 0 0;
  background-size: cover;
  width: 200px;
  height: 80px; }

@media (min-width: 500px) {
  .pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .pokemon-list .card {
      width: 200px;
      margin: 0.25rem; }

  .modal.open .container {
    width: 450px;
    position: relative; }
  .modal.open .thumbs img {
    margin: 0 1rem; }
  .modal.open .stats {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center; }
    .modal.open .stats canvas {
      display: block; }
    .modal.open .stats-group {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10rem; }
    .modal.open .stats-item {
      position: absolute;
      font-size: 0.8rem; }
      .modal.open .stats-item div + div {
        color: #333;
        padding: 0;
        font-size: 0.8rem;
        display: inline;
        background: transparent; }
        .modal.open .stats-item div + div div {
          display: inline;
          background: transparent !important; }
      .modal.open .stats-item.hp {
        bottom: 100px;
        text-align: center; }
      .modal.open .stats-item.attack {
        bottom: 50px;
        left: 100%; }
      .modal.open .stats-item.speed {
        bottom: 50px;
        right: 100%;
        text-align: right; }
      .modal.open .stats-item.special-attack {
        top: 100px;
        text-align: center; }
      .modal.open .stats-item.special-defense {
        top: 50px;
        right: 100%;
        text-align: right; }
      .modal.open .stats-item.defense {
        top: 50px;
        left: 100%; } }
@media (max-height: 550px) {
  .modal-header {
    color: #333;
    position: absolute;
    padding-bottom: 0;
    top: 2rem;
    width: 120%;
    left: -10%;
    right: -10%;
    top: 0;
    bottom: 0; }
    .modal-header .types {
      position: absolute;
      left: 5.7rem;
      top: 0.1rem;
      color: #fff; }
    .modal-header h2 {
      position: absolute;
      left: 4.5rem;
      bottom: 1.5rem;
      font-size: 1.3rem; }
  .modal-body {
    flex-direction: row;
    padding-top: 0; }
    .modal-body .image {
      position: static;
      padding-left: 2rem;
      padding-right: 2rem; }
    .modal-body .content {
      padding-top: 2rem;
      padding-bottom: 1rem;
      display: flex;
      flex-direction: column-reverse; }
    .modal-body .thumbs img {
      width: 1rem; } }

/*# sourceMappingURL=style.css.map */
