.pokemon-list {
  padding: 1rem; }
  .pokemon-list .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 0.1rem #ddd;
    background: #eee;
    position: relative;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    transition: all 0.2s ease;
    cursor: pointer; }
    .pokemon-list .card-number {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 1.3rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.7rem;
      background: #fff;
      color: #aaa; }
    .pokemon-list .card-image {
      width: 6rem;
      height: 6rem;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      transition: all 0.2s ease; }
      .pokemon-list .card-image img {
        width: 100%;
        height: auto;
        transform: scale(1);
        transition: transform 0.2s ease; }
    .pokemon-list .card h3 {
      margin: 0.5rem 0 0 0;
      padding: 0;
      width: 100%;
      text-align: center;
      font-size: 1.1rem; }
    .pokemon-list .card:hover .card-image img {
      transform: scale(1.1); }
    .pokemon-list .card.pending {
      cursor: default; }
      .pokemon-list .card.pending .card-number {
        background: #ddd; }
      .pokemon-list .card.pending .card-image {
        background: #ddd;
        border-radius: 6rem;
        flex-direction: column; }
        .pokemon-list .card.pending .card-image::before {
          content: "";
          width: 2rem;
          height: 2rem;
          border-radius: 2rem;
          background: #eee; }
        .pokemon-list .card.pending .card-image::after {
          content: "";
          height: 0.7rem;
          width: 100px;
          background: #eee;
          position: absolute; }
      .pokemon-list .card.pending h3 {
        padding: 0.5rem 0;
        background: #ddd; }

.pokemon-list .card-red {
  background: #fc9d9d;
  border-color: #fb6c6c;
  color: #fff; }
  .pokemon-list .card-red:hover {
    background: #fb6c6c; }
  .pokemon-list .card-red .card-number {
    color: #fb6c6c; }
.pokemon-list .card-blue {
  background: #a3d3fe;
  border-color: #76bdfe;
  color: #fff; }
  .pokemon-list .card-blue:hover {
    background: #76bdfe; }
  .pokemon-list .card-blue .card-number {
    color: #76bdfe; }
.pokemon-list .card-yellow {
  background: #ffe59f;
  border-color: #ffd86f;
  color: #fff; }
  .pokemon-list .card-yellow:hover {
    background: #ffd86f; }
  .pokemon-list .card-yellow .card-number {
    color: #ffd86f; }
.pokemon-list .card-green {
  background: #85dfca;
  border-color: #48d0b0;
  color: #fff; }
  .pokemon-list .card-green:hover {
    background: #48d0b0; }
  .pokemon-list .card-green .card-number {
    color: #48d0b0; }
.pokemon-list .card-purple {
  background: #a290b1;
  border-color: #74598a;
  color: #fff; }
  .pokemon-list .card-purple:hover {
    background: #74598a; }
  .pokemon-list .card-purple .card-number {
    color: #74598a; }
.pokemon-list .card-pink {
  background: #fdbdbd;
  border-color: #fc9d9d;
  color: #fff; }
  .pokemon-list .card-pink:hover {
    background: #fc9d9d; }
  .pokemon-list .card-pink .card-number {
    color: #fc9d9d; }
.pokemon-list .card-white {
  background: rgba(255, 255, 255, 0.5);
  border-color: #fff;
  color: #333; }
  .pokemon-list .card-white:hover {
    background: #fff; }
  .pokemon-list .card-white .card-number {
    color: #333; }
.pokemon-list .card-brown {
  background: #ca9f99;
  border-color: #b06f66;
  color: #fff; }
  .pokemon-list .card-brown:hover {
    background: #b06f66; }
  .pokemon-list .card-brown .card-number {
    color: #b06f66; }
.pokemon-list .card-gray {
  background: #ccc;
  border-color: #aaa;
  color: #fff; }
  .pokemon-list .card-gray:hover {
    background: #aaa; }
  .pokemon-list .card-gray .card-number {
    color: #aaa; }
.pokemon-list .card-black {
  background: #555;
  border-color: #333;
  color: #fff; }
  .pokemon-list .card-black:hover {
    background: #333; }
  .pokemon-list .card-black .card-number {
    color: #333; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #444;
  background: #eee; }

@media (min-width: 500px) {
  .pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .pokemon-list .card {
      width: 200px;
      margin: 0.25rem; } }

/*# sourceMappingURL=style.css.map */
