$color-red: rgb(251, 108, 108);
$color-red-light: rgb(252, 157, 157);
$color-red-dark: rgb(167, 72, 72);

$color-yellow: rgb(255, 216, 111);
$color-yellow-light: rgb(255, 229, 159);
$color-yellow-dark: rgb(170, 144, 74);

$color-blue: rgb(118, 189, 254);
$color-blue-light: rgb(163, 211, 254);
$color-blue-dark: rgb(78, 126, 169);

$color-green: rgb(72, 208, 176);
$color-green-light: rgb(133, 223, 202);
$color-green-dark: rgb(48, 138, 117);

$color-purple: rgb(116, 89, 138);
$color-purple-light: rgb(162, 144, 177);
$color-purple-dark: rgb(77, 59, 92);

$color-pink: rgb(252, 157, 157);
$color-pink-light: rgb(253, 189, 189);
$color-pink-dark: rgb(168, 104, 104);

$color-brown: rgb(176, 111, 102);
$color-brown-light: rgb(202, 159, 153);
$color-brown-dark: rgb(117, 74, 68);

$color-white: #fff;
$color-white-light: rgba(
  $color: #fff,
  $alpha: 0.5,
);
$color-white-dark: #ddd;

$color-gray: #aaa;
$color-gray-light: #ccc;
$color-gray-dark: #bbb;

$color-black: #333;
$color-black-light: #555;
$color-black-dark: #000;
