@import "./colors.scss";
@import "./card.scss";
@import "./card-colors.scss";
@import "./modal.scss";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: $color-default;
  background: #eee;
}
.logo {
}

@media (min-width: 500px) {
  .pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      width: 200px;
      margin: 0.25rem;
    }
  }

  .modal {
    &.open {
      .container {
        width: 450px;
      }
      .thumbs {
        img {
          margin: 0 1rem;
        }
      }
    }
  }
}
